/**************** RESTART CSS *****************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,li,ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/************** VARIABLES CSS ****************/
:root {
  --color-primary: hsl(187, 24%, 22%);
  --color-secondary: hsl(148, 38%, 91%);
  --color-highlight: #04aa6d;
  --color-danger: hsl(0, 66%, 54%);
  --color-link: hsl(228, 45%, 44%);

  --font-main: "karla", sans-serif;

  --font-small: 0.9rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}
/****************** FONTS ********************/
@font-face {
  font-family: karla;
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: karla_italic;
  src: url("../assets/fonts/Karla-Italic-VariableFont_wght.ttf");
}
/*************** TYPOGRAPHY *******************/
body {
  font-family: var(--font-main);
  background-color: var(--color-secondary);
}
a,div.attribution {
  font-size: 0.4rem;
}
h1.contactH1 {
  font-size: var(--font-large);
  color: var(--color-primary);
}
label,span,button {
  font-size: var(--font-small);
  color: var(--color-primary);
}
span.pointGreen {
  color: var(--color-highlight);
}

p {
  font-size: var(--font-small);
  color: var(--color-danger);
  display: none;
}

/**************** FORM *****************/
body{
     height: 100%;
     width: auto;   
}
.container {
    padding: var(--spacing-large);
    margin: 10% 4% auto 4%;
    border-radius: 15px;
    background-color: white;
}
.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-medium);
    grid-template-areas:
      "name"
      "lastname"
      "email"
      "queryT"
      "message"
      "consent"
      "button";
    padding-top: var(--spacing-medium);
  }

input, textarea, .radioQuery1, .radioQuery2 {
    border-radius: var(--spacing-small);
    width: 100%;
    border: 0.15vh solid var(--color-primary);
}
input.email, input.firstName, input.lastName {
    height: 2.5rem;
    margin: 1.8% 0 5%;
    padding-left: var(--spacing-small);
  }

textarea {
    height: 10rem;
    margin: 3% 0 5%;
    padding: var(--spacing-small);
    resize: none;
}
button {
    margin-top: var(--spacing-small);
    background-color: var(--color-highlight);
    color: white;
    border-radius: var(--spacing-small);
    height: 4.5rem;
}

/**************** CHECKBOX *****************/
.consent {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-areas: 
      "check message"
      "error error";
    align-items: center;
    cursor: pointer;
}

.consentCheckbox input {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid hsl(186, 15%, 59%);
    cursor: pointer;
    border: none;
    border-radius: 0;
    
}

.consentCheckbox input:checked {
    appearance: none;
    background-image: url("../assets/images/icon-checkbox-check.svg");
    background-size: cover;
}


label.consentSpan {
    font-size: var(--font-medium);
    cursor: pointer;
    margin-left: var(--spacing-small);
}
  
.errorMessageConsent {
    grid-area: error;
}
  
/*************** RADIO BUTTONS ***************/

.queryType {
    display: grid;
    gap: 0.4rem;
}
.radioQuery1, .radioQuery2 {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    height: 2.5rem;
    margin-top: 1.8%;
}

.radioQuery1 input[type="radio"], .radioQuery2 input[type="radio"] {
    opacity: 0;
    position: absolute;
}
.radioQuery1 label::before, .radioQuery2 label::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid hsl(186, 15%, 59%);
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
  }  

.radioQuery1 input[type="radio"]:checked + label::before,
.radioQuery2 input[type="radio"]:checked + label::before {
    content: url("../assets/images/icon-radio-selected.svg");
    background: none;
    border: none;
    margin-bottom: 0.5rem;
  }


/***************** HOVER / FOCUS *****************/
button:hover, input:hover, textarea:hover {
    cursor: pointer;
    border-color: var(--color-highlight);
    transition: border-color 0.3s ease;
} 
input:focus, button:hover{
    border-color: var(--color-highlight);
}

/**************** CORRECT SUBMIT*****************/
.sendCorrect {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-60%);
    background-color: var(--color-primary);
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   /*  display: none;
    opacity: 0; */
    transition: opacity 0.3s ease-in-out;
  }
  
  .sendCorrect.active {
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
  }
  
  .labelCorrect {
    color: white;
    font-size: var(--font-small);
  }
  
/**************** MEDIA QUERIES *****************/
/* @media (min-width: 600px) {
  .container {
    width: 45%;
    margin: 7% auto;
    padding: var(--spacing-large);
  }
  .form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name lastname"
      "email email"
      "queryT queryT"
      "message message"
      "consent consent"
      "button button";
  }
  .email {
    grid-area: email;
  }
  .queryType {
    grid-area: queryT;
  }
  .message {
    grid-area: message;
  }
  .consent {
    grid-area: consent;
  }
  .button {
    grid-area: button;
  }

  .queryType {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
      20%
      60%;
    grid-template-areas:
      "label label "
      "query1 query2 ";
    row-gap: 0.35rem;
    column-gap: var(--spacing-medium);
  }
  .labelQT {
    grid-area: label;
  }
  input.email,
  input.firstName,
  input.lastName,
  .radioQuery1,
  .radioQuery2,
  .button {
    height: 2.5rem;
  }
  .textarea {
    height: 5rem;
  }
} */
/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 80%;
        margin: 7% auto;
        padding: var(--spacing-large);
      }
      .form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "name lastname"
          "email email"
          "queryT queryT"
          "message message"
          "consent consent"
          "button button";
      }
      .email {
        grid-area: email;
      }
      .queryType {
        grid-area: queryT;
      }
      .message {
        grid-area: message;
      }
      .consent {
        grid-area: consent;
      }
      .button {
        grid-area: button;
      }
    
      .queryType {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
          20%
          60%;
        grid-template-areas:
          "label label "
          "query1 query2 ";
        row-gap: 0.35rem;
        column-gap: var(--spacing-medium);
      }
      .labelQT {
        grid-area: label;
      }
      input.email,
      input.firstName,
      input.lastName,
      .radioQuery1,
      .radioQuery2,
      .button {
        height: 2.5rem;
      }
      .textarea {
        height: 5rem;
      }
    .sendCorrect{
    left:50%;
    transform: translateX(-55%);
    width:30%;
    }
}

@media (min-width: 768px) /* and (max-width: 1024px) */ { 
    .container {
        width: 50%;
        margin: 10% auto;
        padding: var(--spacing-large);
      }
      .form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "name lastname"
          "email email"
          "queryT queryT"
          "message message"
          "consent consent"
          "button button";
      }
      .email {
        grid-area: email;
      }
      .queryType {
        grid-area: queryT;
      }
      .message {
        grid-area: message;
      }
      .consent {
        grid-area: consent;
      }
      .button {
        grid-area: button;
      }
    
      .queryType {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
          20%
          60%;
        grid-template-areas:
          "label label "
          "query1 query2 ";
        row-gap: 0.35rem;
        column-gap: var(--spacing-medium);
      }
      .labelQT {
        grid-area: label;
      }
      input.email,
      input.firstName,
      input.lastName,
      .radioQuery1,
      .radioQuery2,
      .button {
        height: 2.5rem;
      }
      .textarea {
        height: 5rem;
      }
    .sendCorrect{
        left: 35%;
        transform: translateX(-55%);
        width: 30%;
    }
} 

/* Escritorio grande */
/* @media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
    body {
        font-size: 15px; 
    } 
    .container {
        width: 45%;
        margin: 7% auto;
        padding: var(--spacing-large);
      }
      .form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "name lastname"
          "email email"
          "queryT queryT"
          "message message"
          "consent consent"
          "button button";
      }
      .email {
        grid-area: email;
      }
      .queryType {
        grid-area: queryT;
      }
      .message {
        grid-area: message;
      }
      .consent {
        grid-area: consent;
      }
      .button {
        grid-area: button;
      }
    
      .queryType {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
          20%
          60%;
        grid-template-areas:
          "label label "
          "query1 query2 ";
        row-gap: 0.35rem;
        column-gap: var(--spacing-medium);
      }
      .labelQT {
        grid-area: label;
      }
      input.email,
      input.firstName,
      input.lastName,
      .radioQuery1,
      .radioQuery2,
      .button {
        height: 2.5rem;
      }
      .textarea {
        height: 5rem;
      }
}
 */

/*  @media (max-width: 376px) {
  .container {
    width: 15rem; 
    margin-left: 5%; 
    padding: var(--spacing-medium);
  }

  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    grid-template-areas:
      "name"
      "lastname"
      "email"
      "queryT"
      "message"
      "consent"
      "button";
  }
}  */
 .attribution {
  padding: 2%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
