/**************** RESTART CSS *****************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,li,ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/************** VARIABLES CSS ****************/
:root {
  --color-primary: hsl(187, 24%, 22%);
  --color-secondary: hsl(148, 38%, 91%);
  --color-highlight: #04aa6d;
  --color-danger: hsl(0, 66%, 54%);
  --color-link: hsl(228, 45%, 44%);

  --font-main: "karla", sans-serif;

  --font-small: 0.9rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}
/****************** FONTS ********************/
@font-face {
  font-family: karla;
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: karla_italic;
  src: url("../assets/fonts/Karla-Italic-VariableFont_wght.ttf");
}
/*************** TYPOGRAPHY *******************/
body {
  font-family: var(--font-main);
  background-color: var(--color-secondary);
}
a,div.attribution {
  font-size: 0.4rem;
}
h1.contactH1 {
  font-size: var(--font-large);
  color: var(--color-primary);
}
label,span,button {
  font-size: var(--font-small);
  color: var(--color-primary);
}
span.pointGreen {
  color: var(--color-highlight);
}

p {
  font-size: var(--font-small);
  color: var(--color-danger);
  display: none;
}

/**************** FORM *****************/
.container {
    padding: var(--spacing-large);
    /* margin: 10% 4% auto 4%; */
    margin: 2rem 1rem;
    border-radius: 15px;
    background-color: white;
}
.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-medium);
    grid-template-areas:
      "name"
      "lastname"
      "email"
      "queryT"
      "message"
      "consent"
      "button";
    padding-top: var(--spacing-medium);
  }

input, textarea, .radioQuery1, .radioQuery2 {
    border-radius: var(--spacing-small);
    width: 100%;
    border: 0.1vh solid var(--color-primary);
}
input.email, input.firstName, input.lastName {
    height: 2.5rem;
    margin: 2% 0 2%;
    padding-left: var(--spacing-small);
  }
textarea {
    height: 10rem;
    margin: 1.5% 0 2%;
    padding: var(--spacing-small);
    resize: none;
}
button {
    margin-top: var(--spacing-small);
    background-color: var(--color-highlight);
    color: white;
    border-radius: var(--spacing-small);
    height: 4.5rem;
}

/**************** CHECKBOX *****************/
.consent {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-areas: 
      "check message"
      "error error";
    align-items: center;
    cursor: pointer;
    column-gap: 0.8rem;
}

.consentCheckbox input {
    max-width: 1rem;
    height: 1rem;
    border: 1px solid hsl(186, 15%, 59%);
    cursor: pointer;
    border: none;
    border-radius: 0;
    
}

.consentCheckbox input:checked {
    appearance: none;
    background-image: url("../assets/images/icon-checkbox-check.svg");
    background-size: cover;
}


label.consentSpan {
    font-size: var(--font-medium);
    cursor: pointer;
}
  
.errorMessageConsent {
    grid-area: error;
}
  
/*************** RADIO BUTTONS ***************/

.queryType {
    display: grid;
    gap: 0.4rem;
}
.radioQuery1, .radioQuery2 {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    height: 2.5rem;
    margin-top: 1.8%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.radioQuery1 input[type="radio"], .radioQuery2 input[type="radio"] {
    opacity: 0;
    position: absolute;
}
.radioQuery1 label::before, .radioQuery2 label::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid hsl(186, 15%, 59%);
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
  }  

.radioQuery1 input[type="radio"]:checked + label::before,
.radioQuery2 input[type="radio"]:checked + label::before {
    content: url("../assets/images/icon-radio-selected.svg");
    background: none;
    border: none;
    margin-bottom: 0.5rem;
  }


/***************** HOVER / FOCUS *****************/
button:hover, input:hover, textarea:hover{
    cursor: pointer;
    border-color: var(--color-highlight);
    transition: border-color 0.3s ease;
} 
button:hover{
    border-color: var(--color-highlight);
}

input:focus, textarea:focus {
    border-color: #04aa6d;
    border: 0.1rem solid;
    outline: none; 
    cursor: pointer;
}

input, textarea {
    transition: border-color 0.3s ease-in-out; 
}
/***************** CORRECT SUBMIT*****************/
.sendCorrect {
    position: fixed;
    top: 5px;
    left: 20%;
    transform: translateX(-12%);
    width: auto;
    background-color: var(--color-primary);
    padding: 1.5rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }
  .sendCorrect.active {
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
  }
  
  .labelCorrect {
    color: white;
    font-size: var(--font-small);
  }
  .imageSuccess{
    width: 1rem;
    height: 1rem;
    margin-right: 4%;
  }
/**************** MEDIA QUERIES *****************/
@media(max-width: 300px){
    .container {
        max-width: 90%;
        margin: 2rem auto;
        padding: var(--spacing-medium);
      }
      .sendCorrect{
        left:7.5rem;
       width: 80%;
    }
}


/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        max-width: 80%;
        margin: 7% auto;
        padding: var(--spacing-large);
      }
      .form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "name lastname"
          "email email"
          "queryT queryT"
          "message message"
          "consent consent"
          "button button";
      }
      .email {
        grid-area: email;
      }
      .queryType {
        grid-area: queryT;
      }
      .message {
        grid-area: message;
      }
      .consent {
        grid-area: consent;
      }
      .button {
        grid-area: button;
      }
    
      .queryType {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
          20%
          60%;
        grid-template-areas:
          "label label "
          "query1 query2 ";
        row-gap: 0.35rem;
        column-gap: var(--spacing-medium);
      }
      .labelQT {
        grid-area: label;
      }
      input.email,input.firstName,input.lastName,.radioQuery1,.radioQuery2,.button {
        height: 2.5rem;
      }
      .textarea {
        height: 5rem;
      }
    .sendCorrect{
        left: 50%;
        transform: translateX(-50%);
    }
}
/*Small Monitors*/
@media (min-width: 768px)  and (max-width: 1024px) { 
    .container {
       /*  max-width: auto; */
        margin: 5rem 8rem; 
        padding: var(--spacing-large);
      }
      .form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "name lastname"
          "email email"
          "queryT queryT"
          "message message"
          "consent consent"
          "button button";
      }
      .email {
        grid-area: email;
      }
      .queryType {
        grid-area: queryT;
      }
      .message {
        grid-area: message;
      }
      .consent {
        grid-area: consent;
      }
      .button {
        grid-area: button;
      }
    
      .queryType {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
          20%
          60%;
        grid-template-areas:
          "label label "
          "query1 query2 ";
        row-gap: 0.35rem;
        column-gap: var(--spacing-medium);
      }
      .labelQT {
        grid-area: label;
      }
      input.email,
      input.firstName,
      input.lastName,
      .radioQuery1,
      .radioQuery2,
      .button {
        height: 2.5rem;
      }
      .textarea {
        height: 5rem;
      }
      .sendCorrect{
        left: 50%;
        transform: translateX(-50%);
    }
} 
 
/* Big Monitors */
@media (min-width: 1024px){
    .container {
        max-width: 40rem;
        margin: 6rem auto;
        padding: var(--spacing-large);
      }
      .form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "name lastname"
          "email email"
          "queryT queryT"
          "message message"
          "consent consent"
          "button button";
      }
      .email {
        grid-area: email;
      }
      .queryType {
        grid-area: queryT;
      }
      .message {
        grid-area: message;
      }
      .consent {
        grid-area: consent;
      }
      .button {
        grid-area: button;
      }
    
      .queryType {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
          20%
          60%;
        grid-template-areas:
          "label label "
          "query1 query2 ";
        row-gap: 0.35rem;
        column-gap: var(--spacing-medium);
      }
      .labelQT {
        grid-area: label;
      }
      input.email,
      input.firstName,
      input.lastName,
      .radioQuery1,
      .radioQuery2,
      .button {
        height: 2.5rem;
      }
      .textarea {
        height: 5rem;
      }
      .sendCorrect{
        left: 50%;
        transform: translateX(-50%);
    }
} 
/************* ATTRIBUTION ******************/
 .attribution {
  padding: 2%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
